.main-container{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(168deg, rgba(26,0,97,1) 30%, rgba(77,42,255,1) 60%, rgba(128,0,255,1) 84%);

  display: flex;
  justify-content: center;
  align-items: center;
}

